#city-bar {
    background-color: rgb(218, 218, 218);
    padding-top: 30px;
    height: 600px;
    border: rgb(218, 218, 218);
}

#dashboard {
    padding-top: 30px;
    margin-left: 20px
}

#whats-weather {
    text-align: center;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    padding-left: 20px;
}

.center {
    text-align: center;
}

#search-btn {
    padding: 4px;
}

#search-city {
    width: 130px;
}

h3 {
    font-size: large;
}

header {
    background-color: black;
    color: cornsilk;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favUV {
    background-color: rgb(59, 206, 59);
    display: inline-flex;
}

.unfavUV {
    background-color: rgb(212, 57, 57);
    display: inline-flex;
}

.modUV {
    background-color: yellow;
    display: inline-flex;
}

.day-col {
    width: 150px;
    background-color: rgb(0, 132, 255);
    color: cornsilk;
}

.city-button {
    background-color: rgb(255, 255, 255);
    width: 130px;
    border: rgb(0, 0, 0);
    border-width: 1px;
    text-transform: capitalize;
}